@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
dd {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

i {
  font-style: normal;
}

body {
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Noto Serif JP", serif;
  color: #333333;
  font-size: 100%;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #333333;
  display: block;
}

.l-header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .l-header {
    height: 60px;
  }
}

.l-header__inner {
  width: 1280px;
  max-width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .l-header__inner {
    padding: 0 15px;
  }
}

.l-top {
  width: 100%;
  max-width: 100%;
  margin-top: 70px;
}

.l-top__inner {
  width: 1280px;
  max-width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 767px) {
  .l-top__inner {
    padding: 0 15px;
  }
}

.l-section {
  width: 100%;
  margin-top: 160px;
}
@media screen and (max-width: 767px) {
  .l-section {
    margin-top: 96px;
  }
}

.l-section__inner {
  width: 1280px;
  max-width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  margin-top: 64px;
}
@media screen and (max-width: 767px) {
  .l-section__inner {
    padding: 0 15px;
  }
}
@media screen and (max-width: 767px) {
  .l-section__inner {
    margin-top: 48px;
  }
}

.l-message {
  max-width: 1280px;
  height: 478px;
  margin-left: auto;
  margin-right: auto;
  background: url("../img/bg.png") center top/cover;
  border: 1px solid rgba(112, 112, 112, 0.12);
}
@media screen and (max-width: 767px) {
  .l-message {
    height: 484px;
    background: url("../img/bg-sp.png") center top/cover;
    border: none;
  }
}

.l-message__inner {
  margin-top: 0;
  width: 100%;
  height: inherit;
  background: rgba(0, 0, 0, 0.12);
  position: relative;
}

.l-products__inner {
  width: 1020px;
}

.l-news__inner {
  width: 1120px;
}
@media screen and (max-width: 767px) {
  .l-news__inner {
    padding: 0 32px;
  }
}

.l-contact {
  background: url("../img/contact@2x.png") no-repeat center/cover;
  padding-bottom: 85px;
  padding-top: 72px;
}
@media screen and (max-width: 767px) {
  .l-contact {
    padding: 58px 0;
  }
}

.l-contact__inner {
  width: 590px;
}

.l-footer {
  width: 100%;
  background-color: #F7F7F7;
  padding: 17px 0;
}

.l-footer__inner {
  width: 1280px;
  max-width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .l-footer__inner {
    padding: 0 15px;
  }
}

.c-btn--center {
  margin-top: 50px;
  text-align: center;
}

.c-btn {
  display: inline-block;
  padding: 16px 54px;
  background-color: #FFFFFF;
  border: 1px solid #3EA1D1;
  color: #3EA1D1;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .c-btn:not([type=submit]):focus, .c-btn:not([type=submit]):hover {
    background-color: #3EA1D1;
    color: #FFFFFF;
  }
}

.c-section__title {
  font-size: 40px;
  font-weight: 600;
  position: relative;
  text-align: center;
  padding-bottom: 16px;
}
.c-section__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 60px;
  background-color: #3EA1D1;
}
@media screen and (max-width: 767px) {
  .c-section__title {
    font-size: 30px;
  }
}

.c-media {
  display: flex;
  align-items: center;
}
.c-media--reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .c-media {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .c-media .c-media__img {
    width: 100%;
  }
}
.c-media .c-media__body {
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .c-media .c-media__body {
    width: 100%;
  }
}

.c-media__lead {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.7;
}

.c-media__text {
  font-weight: 300;
  line-height: 1.6875;
}

.c-cards {
  display: flex;
  flex-flow: wrap;
}
@media screen and (max-width: 767px) {
  .c-cards {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .c-cards .c-cards__item {
    margin-left: 0;
  }
  .c-cards .c-cards__item:not(:first-child) {
    margin-top: 48px;
  }
}

.c-card {
  box-shadow: 3px 3px 15px #60606029;
}

.c-card__img {
  position: relative;
  padding-top: 50%;
  overflow: hidden;
}
.c-card__img img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.c-card__title {
  font-size: 1.125rem;
  font-weight: 600;
}

.c-card__text {
  font-weight: 300;
  line-height: 1.6875;
}

.p-header__logo {
  width: 120px;
}

@media screen and (max-width: 767px) {
  .p-header__menu {
    display: none;
  }
}

.p-header__list {
  display: flex;
}

.p-header__item {
  margin-left: 48px;
  font-weight: 300;
}
@media screen and (min-width: 1280px) {
  .p-header__item a {
    transition: color 0.4s;
  }
  .p-header__item a:focus, .p-header__item a:hover {
    color: #3EA1D1;
  }
}

.p-drawer__menu {
  width: 270px;
  height: 100%;
  background: #3EA1D1;
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 299;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;
}
.p-drawer__menu.is-active {
  transform: translateX(0);
}

.p-drawer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.p-drawer__item {
  position: relative;
  margin-top: 40px;
  padding: 6px 15px;
}
.p-drawer__item a {
  color: #FFFFFF;
  font-weight: 600;
}
.p-drawer__item a.is-active, .p-drawer__item a:focus, .p-drawer__item a:hover {
  transform: scale(1.2);
}

.p-drawerIcon {
  position: fixed;
  top: 22px;
  right: 15px;
  z-index: 300;
  width: 30px;
  height: 18px;
  display: none;
}
.p-drawerIcon.is-active {
  transition: transform 0.5s ease 0s;
}
.p-drawerIcon.is-active .p-drawerIcon__bar:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.p-drawerIcon.is-active .p-drawerIcon__bar:nth-child(2) {
  display: none;
}
.p-drawerIcon.is-active .p-drawerIcon__bar:nth-child(3) {
  top: 6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media screen and (max-width: 767px) {
  .p-drawerIcon {
    display: block;
  }
}

.p-drawerIcon__bar {
  position: relative;
  display: block;
  height: 2px;
  width: 30px;
  background: #3EA1D1;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
.p-drawerIcon__bar:nth-child(1) {
  top: 0;
}
.p-drawerIcon__bar:nth-child(2) {
  margin: 6px 0;
}
.p-drawerIcon__bar:nth-child(3) {
  top: 0;
}

.p-top__img {
  width: 82.5%;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .p-top__img {
    width: 100%;
  }
  .p-top__img img {
    height: 414px;
    object-fit: cover;
    object-position: 80% 100%;
  }
}

.p-top__textArea {
  width: 330px;
  height: 330px;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  background-color: #FFFFFF;
  padding: 92px 0;
}
@media screen and (max-width: 767px) {
  .p-top__textArea {
    position: static;
    transform: none;
    width: auto;
    height: auto;
    padding: 0;
  }
}

.p-top__lead {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.6923076923;
}
@media screen and (max-width: 767px) {
  .p-top__lead {
    margin-top: 40px;
  }
}

.p-top__text {
  font-weight: 300;
  line-height: 1.6875;
}
@media screen and (max-width: 767px) {
  .p-top__text {
    margin-top: 32px;
  }
}

.p-concept__img {
  width: 50%;
}

.p-concept__body {
  width: 520px;
}

@media screen and (max-width: 767px) {
  .p-concept__lead {
    margin-top: 40px;
  }
}

.p-concept__text {
  margin-top: 48px;
}
@media screen and (max-width: 767px) {
  .p-concept__text {
    margin-top: 32px;
  }
}

.p-feature__item {
  width: 28.3333333333%;
  margin-left: 7.5%;
}
@media screen and (max-width: 767px) {
  .p-feature__item {
    width: 340px;
  }
}
.p-feature__item:nth-child(3n+1) {
  margin-left: 0;
}
.p-feature__item:nth-child(n+4) {
  margin-top: 64px;
}
.p-feature__item:focus .p-feature__img img, .p-feature__item:hover .p-feature__img img {
  transform: translateY(-50%) scale(1.1);
}

.p-feature__img {
  padding-top: 69.1642651297%;
  overflow: hidden;
}

.p-feature__body {
  padding: 32px 0;
}

.p-feature__text {
  font-weight: 600;
  text-align: center;
}

.p-message__textArea {
  position: absolute;
  bottom: 50%;
  left: 40px;
  transform: translateY(50%);
}
@media screen and (max-width: 767px) {
  .p-message__textArea {
    bottom: 55px;
    left: 15px;
    transform: none;
  }
}

.p-message__lead {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.6818181818;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .p-message__lead {
    font-size: 1.25rem;
  }
}

.p-message__text {
  font-weight: 300;
  line-height: 1.6875;
  color: #FFFFFF;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .p-message__text {
    font-size: 0.875rem;
    margin-top: 32px;
  }
}

.p-products__item {
  width: 27.6595744681%;
  margin-left: 8.5106382979%;
  box-shadow: none;
}
@media screen and (max-width: 767px) {
  .p-products__item {
    width: 260px;
  }
}
.p-products__item:nth-child(3n+1) {
  margin-left: 0;
}
.p-products__item:nth-child(n+4) {
  margin-top: 48px;
}
.p-products__item:focus .p-products__img img, .p-products__item:hover .p-products__img img {
  transform: translateY(-50%) scale(1.1);
}

.p-products__img {
  padding-top: 100%;
  overflow: hidden;
}

.p-products__text {
  margin-top: 24px;
}

.p-products__price {
  margin-top: 18px;
  color: #989898;
}
@media screen and (max-width: 767px) {
  .p-products__price {
    margin-top: 16px;
  }
}

.p-news__media {
  padding-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;
}
.p-news__media:not(:first-child) {
  padding-top: 22px;
}
@media screen and (max-width: 767px) {
  .p-news__media:not(:first-child) {
    padding-top: 24px;
  }
}
.p-news__media:focus .p-news__img img, .p-news__media:hover .p-news__img img {
  transform: scale(1.1, 1.1);
}

.p-news__img {
  width: 25%;
  overflow: hidden;
}

.p-news__body {
  width: 71.1538461538%;
  margin-left: 3.8461538462%;
}
@media screen and (max-width: 767px) {
  .p-news__body {
    margin-left: 0;
  }
}

.p-news__time {
  font-size: 0.875rem;
}
@media screen and (max-width: 767px) {
  .p-news__time {
    margin-top: 24px;
  }
}

.p-news__lead {
  font-size: 1.125rem;
  line-height: 1.7222222222;
  margin-top: 16px;
}
@media screen and (max-width: 767px) {
  .p-news__lead {
    font-size: 1rem;
  }
}

.p-news__text {
  font-size: 0.875rem;
  line-height: 1.7142857143;
  color: #888888;
  margin-top: 24px;
}

.p-contact__title {
  color: #3EA1D1;
}

.p-contact__form {
  margin-top: 24px;
}
@media screen and (max-width: 767px) {
  .p-contact__form {
    margin-top: 32px;
  }
}

.p-form__supplement {
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
}
.p-form__supplement span {
  font-size: 1rem;
  color: #E7728E;
}

.p-form__item {
  display: flex;
  flex-wrap: wrap;
}
.p-form__item:not(:first-child) {
  margin-top: 32px;
}

.p-form__label {
  font-weight: 600;
  font-size: 1.125rem;
  width: 170px;
  height: 40px;
  background-color: rgba(62, 161, 209, 0.7);
  color: #FFFFFF;
  text-align: center;
  line-height: 40px;
  position: relative;
}
.p-form__label::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  border-width: 20px 0 20px 10px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(62, 161, 209, 0.7);
}
@media screen and (max-width: 767px) {
  .p-form__label {
    width: auto;
    height: 32px;
    padding: 0 26px 0 16px;
    line-height: 32px;
    font-size: 0.875rem;
  }
  .p-form__label::after {
    display: none;
  }
}
.p-form__label span {
  position: relative;
}
.p-form__label span::after {
  content: "＊";
  color: #E7728E;
  font-size: 0.75rem;
  position: absolute;
  top: -12px;
  right: -12px;
}

.p-form {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #FFFFFF;
  background-image: none;
  border: none;
  border-radius: 2px;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.6rem 1rem;
  width: 320px;
  box-shadow: 5px 5px 15px #60606029;
  margin-left: 20px;
}
.p-form:focus {
  border: none;
  outline: none;
}
@media screen and (max-width: 767px) {
  .p-form {
    width: 100%;
    margin-left: 0;
    margin-top: 3px;
  }
}

.p-form__textarea {
  height: 122px;
}

@media screen and (max-width: 767px) {
  .p-form__radio {
    width: 100%;
    margin-top: 3px;
  }
}

.p-form__check {
  display: none;
}
.p-form__check + .p-check__item {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
}
.p-form__check + .p-check__item::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}
.p-form__check:checked + .p-check__item::before {
  width: 10px;
  top: -3px;
  left: 5px;
  background-color: transparent;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.p-form__check:checked + .p-check__radio {
  background-color: #3EA1D1;
  color: #FFFFFF;
}

.p-check__radio {
  width: 80px;
  background: #FFFFFF;
  color: #3EA1D1;
  text-align: center;
  line-height: 40px;
  transition: 0.3s;
  border-radius: 1px;
}
.p-check__radio:first-of-type {
  margin-left: 20px;
  box-shadow: 5px 0 15px #60606029;
}
@media screen and (max-width: 767px) {
  .p-check__radio:first-of-type {
    margin-left: 0;
  }
}
.p-check__radio:last-of-type {
  margin-left: -4px;
  box-shadow: 5px 5px 15px #60606029;
}

.p-form__agree {
  display: block;
  text-align: center;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .p-form__agree {
    margin-top: 24px;
  }
}
.p-form__agree a {
  color: #3EA1D1;
  display: inline-block;
  text-decoration: underline;
  margin-left: 30px;
}
.p-form__agree a:hover {
  opacity: 0.6;
}

.p-form__checkbox + .p-check__item::before {
  border: 1px solid #3EA1D1;
  height: 22px;
  width: 22px;
}
.p-form__checkbox + .p-check__item::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 3px solid #3EA1D1;
  border-left: 3px solid #3EA1D1;
  height: 0.6em;
  left: 3px;
  margin-top: -0.1em;
  transform: translateY(-50%) rotate(-45deg);
  width: 1em;
}

@media screen and (max-width: 767px) {
  .p-form__btnWrap {
    margin-top: 26px;
  }
}

.p-form__btn.is-active {
  background-color: #3EA1D1;
  color: #FFFFFF;
}

.is-message {
  display: none;
  text-align: center;
  margin-top: 60px;
}
.is-message--error {
  color: red;
}

.p-footer__logo {
  margin-top: 48px;
  width: 120px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .p-footer__logo {
    margin-top: 40px;
  }
}

.p-footer__labels {
  margin-top: 24px;
  text-align: center;
}
.p-footer__labels a {
  font-size: 0.75rem;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .p-footer__labels a {
    display: block;
  }
}
.p-footer__labels a:not(:first-child) {
  margin-left: 32px;
}
@media screen and (max-width: 767px) {
  .p-footer__labels a:not(:first-child) {
    margin-left: 0;
    margin-top: 16px;
  }
}
.p-footer__labels a:focus, .p-footer__labels a:hover {
  opacity: 0.7;
}

.p-footer__link {
  margin-top: 36px;
}
@media screen and (max-width: 767px) {
  .p-footer__link {
    margin-top: 32px;
  }
}
.p-footer__link a {
  color: #3EA1D1;
  font-size: 22px;
  display: inline-block;
}
.p-footer__link a:not(:first-child) {
  margin-left: 40px;
}
.p-footer__link a:focus, .p-footer__link a:hover {
  opacity: 0.7;
}

.p-footer__copyright {
  margin-top: 24px;
  font-size: 0.75rem;
  color: #888888;
}
@media screen and (max-width: 767px) {
  .p-footer__copyright {
    margin-top: 18px;
  }
}

@media screen and (max-width: 767px) {
  .u-none--sp {
    display: none;
  }
}

.u-concept--ml {
  margin-left: 6.6666666667%;
}
@media screen and (max-width: 767px) {
  .u-concept--ml {
    margin-left: 0;
  }
}
