@use "../foundation/index" as  f;

.c-cards{
    display: flex;
    flex-flow: wrap;

    @include f.mq('sp'){
        flex-direction: column;
        align-items: center;
    }

    .c-cards__item{
        @include f.mq('sp'){
            margin-left: 0;
            
            &:not(:first-child){
                margin-top: 48px;
            }

        }      
    }
}
.c-card{
    box-shadow: 3px 3px 15px f.$color-card-shadow;
}
.c-card__img{ //画像を天地中央でトリミングするためのテクニック
    position: relative;
    padding-top: 50%; //画像の表示領域の高さ確保
    overflow: hidden;

    img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
.c-card__body{
}
.c-card__title{
    font-size: 1.125rem;
    font-weight: 600;
}
.c-card__text{
    @include f.text();
}