@use "../foundation/index" as  f;

.p-footer__logo{
    margin-top: 48px;
    width: 120px;
    max-width: 100%;

    @include f.mq('sp'){
        margin-top: 40px;
    }
}
.p-footer__labels{
    margin-top: 24px;
    text-align: center;

    a{
        font-size: 0.75rem;
        display: inline-block;

        @include f.mq('sp'){
            display: block;
        }

        &:not(:first-child){
            margin-left: 32px;

            @include f.mq('sp'){
                margin-left: 0;
                margin-top: 16px;
            }
        }

        &:focus,
        &:hover{
            opacity: 0.7;
        }
    }
}
.p-footer__link{
    margin-top: 36px;

    @include f.mq('sp'){
        margin-top: 32px;
    }

    a{
        color: f.$color-footer-sns;
        font-size: 22px;
        display: inline-block;
        
        &:not(:first-child){
            margin-left: 40px;
        }

        &:focus,
        &:hover{
            opacity: 0.7;
        }
    }
}
.p-footer__copyright{
    margin-top: 24px;
    font-size: 0.75rem;
    color: f.$color-footer-copyright;

    @include f.mq('sp'){
        margin-top: 18px;
    }
}